:host{
    .footer{
        background-color: var(--bg-footer);
        padding: 10px 0;
        h5{
            font-size: 14px;
            color: var(--text-gray);
            text-transform: uppercase;
            @media(max-width: 576px){
                font-size: 12px;
                max-width: 240px;
                margin: auto !important;
            }
        }
        a{
            text-decoration: none;
            color: var(--text-gray);
        }
    }
}