:host{
    *{
        outline: none;
    };
    nav{
        @media (min-width: 767px){
            padding: 0;
        }
        @media (max-width: 767px){
            padding: 0;
        }
        .bg-navbar{
            a{
                margin: 0;
            }
            @media (min-width: 767px){
                background-image: url('../../../assets/images/navbar/background_header.png');
                background-size: 100% 100%;
                width: 100%;
                text-align: center;
                margin-bottom: -2px;
                margin-top: -2px;
                padding: 20px 0;
            }
        }
        .container-fluid{
            @media (min-width: 767px){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
            }
            .navbar-toggler{
                border: none;
                color: var(--black);
            }
            .img-nav{
                margin: 0px auto 10px;
                max-width: 250px; 
                @media (max-width: 767px){
                    max-width: 160px;
                    margin: 10px 0;
                }
            }
            .edit{
                width: 100%;
                justify-content: center;
                background: var(--primary);
                padding: 0;
                @media (max-width: 767px){
                    margin: auto -12px;
                }
                .nav-link{
                    color: var(--white);
                    margin: auto 10px;
                    text-transform: uppercase;
                    font-size: 14px;
                    padding-top: 11px;
                    padding-bottom: 11px;
                }
                .is-active{
                    font-weight: bold;
                }
                .select_dropdown{
                    position: initial;
                    .dropdown-menu{
                        left: 0;
                        right: 0;
                        background-color: var(--subheader);
                        border-radius: 0;
                        border: none;
                        padding: 0;
                        .d-flex{
                            justify-content: center;
                            @media (max-width: 767px){
                                flex-direction: column;
                                padding-left: 20px;
                                a{
                                    padding-top: 6px;
                                    padding-bottom: 6px;
                                }
                            }
                            a{
                                font-weight: normal;
                            }
                        }
                    }
                    &:hover{
                        ul.dropdown-menu{ 
                            display: block;
                         }
                    }
                }
            }
        }
    }
}