:host{
    .slider-home{
        .boxImages{
            padding-bottom: 53%;
            width: 100%;
            position: relative;
            transition: opacity 0.3s;
            -webkit-transition: opacity 0.3s;
            background-size: 100%;
            background-repeat: no-repeat;
            @media (min-width: 576px) and (max-width: 992px){
                height: calc(100vh - 74px);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 46%;
                padding-bottom: 0;
            }
            @media (max-width: 576px){
                background-size: cover;
                background-position: 37%;
                padding-bottom: 0;
                height: calc(100vh - 104px);
            }
            &.first-image{  
                background-image: url('../../../assets/images/home/slider/515b.jpg');
            }
            &.second-image{ 
                background-image: url('../../../assets/images/home/slider/525b.jpg');
            }
            &.third-image{  
                background-image: url('../../../assets/images/home/slider/535b.jpg');
            }
            &.four-image{   
                background-image: url('../../../assets/images/home/slider/767b.jpg');
            }
            
            .llanta{
                position: absolute;
                bottom: -10px;
                right: 0;
                max-width: 576px;
                width: 45%;
                animation-name: rightToLeft;
                animation-duration: 0.3s;
                @media (min-width: 576px) and (max-width: 992px){
                    width: 50%;
                }
                @media (max-width: 576px){
                    display: none;
                }
            }
        }
        .img-equal-height{
            @media (max-width: 767px){
                height: calc(100vh - 175px);
                object-fit: cover;
                object-position: center;
            }
        }
        .carousel-indicators{
            top: 50%;
            height: max-content;
            @media(max-width: 767px){
                margin-right: 5%;
                margin-left: 5%;
            }
            button{
                text-indent: 0;
                width: auto;
                height: max-content;
                padding: 4px 11px;
                opacity: 1;
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                @media (max-width: 767px){
                    font-size: 16px;
                }
                @media (max-width: 576px){
                    font-size: 12px;
                }
                @media (max-width: 350px){
                    font-size: 10px;
                }
            }
            .transition-hover{
                position: absolute;
                transform: translateY(25px);
            }
            button.active.active{
                position: relative;
                overflow: hidden;
                .transition-hover{
                    transform: translateY(0px);
                    transition: 0.15s ease-in;
                    background: var( --primary);
                    color: #fff;
                    padding: 5px 11px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 767px){
                        font-size: 12px;
                    }
                    @media (max-width: 350px){
                        font-size: 10px;
                    }
                }
               /*  &:after{
                    content: '';
                    width: 100%;
                    height: 52px;
                    background-color: var(--primary);
                    color: var(--white);
                } */
            }
        }
    }
    .animation{
        -webkit-animation-name: rightToLeft;
        -webkit-animation-duration: .3s;
        }
        @keyframes rightToLeft {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}