:host{
    .bg-contacto{
        padding: 30px 15px; 
    }
    
    .style.contacto{
        padding: 0;
        background: #fff;
        margin:0 auto;
        max-width: 620px;
    }
    
    .style.contacto h3{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 32px;
        color: var(--text-titulo);
    }
    
    .style.contacto  p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .style.contacto .form-group {
        margin-bottom: 20px;
    }
    
    .style.contacto .form-control{
        border: none; 
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }
    .style.contacto .form-control:focus{
        border-color: #343434;
        box-shadow: none;
    }
    
    .style.contacto .btn-send{
        margin: 15px auto;
        display: block;
        max-width: 180px;
        width: 100%;
        border-radius: 0;
        padding: 10px;
        background-color: var(--primary);
        border-color: var(--primary);
    }
    
    .style.contacto .btn-send:hover,
    .style.contacto .btn-send:active,
    .style.contacto .btn-send:focus{
        background-color: var(--primary) !important;
        border-color: var(--primary);
    }

    .custom-alert{
        font-size: 12px;
        transform: translate(10px, -15px);
        color: red;
    }
 
}