:host{
    .container.align{
        padding-top: 30px;
        padding-bottom: 30px;
        
        .titulo{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 30px;
            color: var(--text-titulo);
        }
        p, ul{
            text-align: justify;
            color: var(--text-gray);
        }
        span{
            color: var(--text-gray);
            font-weight: bold;
        }
    }
}