:host{
    .container.align{
        padding-top: 30px;
        padding-bottom: 30px;
        
        .titulo{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 30px;
            color: var(--text-titulo);
        }
        .SearchEdit{
            input{
                height:60px;
                border: 1px solid rgba(0,0,0,.325);
                margin-bottom: 35px;
            }
            button{
                background-color: var(--primary);
                color: #fff;
                height: 60px;
                width: 80px;
                border-radius: 0 4.3px 4.3px 0;
                @media (max-width: 767px){  
                    width: 50px;
                }
            }
            @media (max-width: 767px){
                input,button{
                    height: 44px;
                }
            }
        }

        .body_cards{
            .card{
                display: flex;
                flex-direction: row; 
                margin-bottom: 20px;   
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid rgba(0,0,0,.325);
                transition: .15s ease-in;
                &:hover{
                    border-color: var(--primary);
                    box-shadow: none;
                    transform: scale(1.015);
                    h5{
                        color: var(--primary);
                    }
                }
                @media (min-width: 992px){
                    height: 280px;
                    zoom: .9;
                }
                @media (min-width: 992px) and (max-width: 1200px){
                    zoom: 0.8;
                }
                @media (max-width: 767px){
                    flex-direction: column;
                    height: auto;
                }
                .image{
                    max-width: 50%;
                    height: 100%;
                    width: 100%;
                    @media (max-width: 767px){
                        max-width: 100%;
                    }
                    .img-fluid{
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        @media (max-width: 767px){
                            max-height: 230px;
                        }
                    }
                }
                .text{
                    max-width: 50%;
                    width: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    @media (max-width: 767px){
                        max-width: 100%;
                        height: auto;
                    }
                    .body{
                        padding: 15px 25px;
                        .title{
                            margin: 0 0 15px;
                            color: var(--text-gray);
                            line-height: 1.3; 
                            font-size: 15px;
                            font-style: italic;
                            margin-bottom: 5px;
                        }
                        p{
                            margin: 0;
                            color: var(--text-gray);
                            line-height: 1.3; 
                            font-size: 14px;
                            font-weight: 300;  
                            margin-bottom: 5px;
                        }
                    }
                    .btn{
                      /*   bottom: 0;
                        left: 0;
                        right: 0;
                        position: absolute; */
                        width: 100%;
                        border-radius: 0;
                        background-color: var(--primary);
                        color: #fff;
                        margin-top: auto;
                    }
                }
            }   
        }
        .nothing_text{
            text-align: center;
            margin: 70px auto;
            color: var(--text-gray);
        }
        .spinner-border{
            border-right-color:transparent !important;
            border-color: var(--text-gray);
            margin: 70px auto;
        }
    }
    .modalEdit{
        max-width: 920px;
        @media (min-width: 767px) and (max-width: 992px){
            width: 90%;
            max-width: 920px;
        }
        .img-sucursal{
            height: 300px;
            /* object-fit: cover;
            object-position: center; */
        }
        button{
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .text{
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            h5{
                text-align: center;
                margin-bottom: 20px;
            }
            p{
                margin: 0;
                color: var(--text-gray);
                line-height: 1.3; 
                font-size: 16px;
                font-weight: 300;  
                margin-bottom: 5px;
               
            }
            p,a{
                @media (min-width: 767px){
                    padding: 0 25px;
                }
            }
        }
        agm-map {
            height: 500px;
            @media (max-width: 767px){
                height: 400px;
            }
        }
    }
}