:host{
    .container.align{
        padding-top: 30px;
        padding-bottom: 30px;
        .titulo{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 30px;
            color: var(--text-titulo);
        }
        .nav_filte{
            display: flex;
            padding-left: 0;
            list-style: none;
            justify-content: center;
            @media (max-width: 767px){
                flex-wrap: wrap;
            }
        }
        .body_cards{
            display: flex;
            flex-direction: column;
            max-width: 767px;
            margin: auto;
            .border-edit{
                border-top: 1px solid #ececec;
                margin-top: 15px;
            }
            .card{
                margin-bottom: 15px;
                display: flex;
                flex-direction: row;
                box-shadow: 0px 0px 2px 2px #ececec;
                border-color: transparent;
                transition: .15s ease-in;
                background-size: 100%;
                background-repeat: no-repeat;
                @media (max-width: 576px){
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 25px;
                    background-image: none !important;
                    max-width: 360px;
                    margin: auto auto 25px;
                }
                &:hover{
                    border-color: var(--primary);
                    box-shadow: none;
                    transform: scale(1.015);
                    .box{
                        span{
                            color: var(--primary);
                        }
                    }
                }
                .box{
                    text-align: center;
                    transform: translateX(50px);
                    @media (max-width: 767px){
                        transform: none;
                        text-align: right;
                    }
                    span{
                        font-size: 22px;
                        font-style: italic;
                        font-weight: 500;
                        color: #666;
                        @media (min-width: 992px){
                            white-space: nowrap;
                        }
                        @media (max-width: 576px){
                            font-size: 18px;    
                        }
                    }
                }
                .text-large{
                    transform: translateX(0px);
                }
                .img-fluid{
                    max-width: 190px;
                    padding: 10px 35px;
                    object-fit: contain;
                }
                .text-card{
                    width: 100%;
                    padding: 20px 30px;
                    h5{
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 32px;
                        margin-bottom: 0;
                        color: var(--text-titulo);
                    }
                    p{
                        font-size: 16px;
                        font-weight: 200;
                        color: var(--text-gray);
                        text-align: justify;
                        /* display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden; */
                        padding: 0;
                        margin-top: 15px;
                        @media (max-width: 520px){
                            text-align: justify;
                        }
                    }
                    .btn-details{
                        background: #ececec;
                        color: #666;
                        border-radius: 25px;
                        padding: 8px 30px;
                        font-weight: bold;
                        font-size: 16px;
                        float: right;
                        @media (max-width: 520px){
                            float: initial;
                            margin: 25px auto 0;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .modalEdit{
        max-width: 780px;
        .modal-content{
            border-radius: 0;
            border: none;
            padding: 15px 60px;
            width: 100%;
            margin: auto;
            @media (max-width: 767px){
                padding: 15px 0;
            }
            .modal-header, .modal-footer{
                border: none;
            }
            .modal-title{
                font-size: 20px;
                color: #616d71;
                text-transform: uppercase;
                font-weight: 500;
            }
            .modal-body{
                .caract{
                    margin-top: 25px;
                    .form-group{
                        text-align: center;
                        h5{
                            font-size: 12px;
                            font-weight: bold;
                            color: var(--text-titulo);
                            margin-bottom: 0;
                            text-transform: lowercase;
                            min-height: 28px;
                            &::first-letter{
                                text-transform: uppercase;
                            }
                        }
                        p{
                            font-size: 10px;
                            color: var(--text-gray);
                            text-transform: lowercase;
                            &::first-letter{
                                text-transform: uppercase;
                            }
                        }
                        img{
                            max-width: 100px;
                            margin: 10px 0;
                            line-height: 1;
                        }
                    }
                }
                .table{
                    margin-top: 20px;
                    thead{
                        tr{
                            background-color: #59666F;
                            th{
                                color: #fff;
                                font-weight: normal;
                            }
                        }
                    }
                    tbody{
                        tr{
                            &:first-child{
                                td{
                                    border-top: none;
                                }
                            }
                            &:last-child{
                                td{
                                    border-bottom: none;
                                }
                            }
                        }
                        td{
                            background: #E7E8EA;
                            color: var(--text-gray);
                            border: 1px solid var(--text-gray);
                            &:first-child{
                                border-left: none;
                            }
                            &:last-child{
                                border-right: none;
                            }
                        }
                    }
                    td, th{
                        text-align: center;
                        @media (max-width: 767px){
                            font-size: 14px;
                        }
                    }
                }
            }
            .btn-close{
                transform: translateX(20px);
                font-size: 22px;
                @media (max-width: 767px){
                    transform: translateX(0);
                }
            }
        }
    }

 
}