/* You can add global styles to this file, and also import other style files */

// Fonts 
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;700&display=swap');
:root {
    --primary: #68a566;
    --subheader: #477744;
    --white: #fff;
    --black: #000000;
    --bg-footer: #efefef;
    --text-gray: #74747c;
    --text-titulo: #333333;
    --text-oxford: #66666a;
}

//Global scss
*,
*::after, 
*::before,
*:active,
*:focus{
    outline: none !important;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.btn:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.owl-nav{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0;
    z-index: -1;
    [class*=owl-]{
        background: transparent !important;
    }
    .owl-prev{
        float: left;
        transform: translateX(-30px);
    }
    .owl-next{
        float: right;
        transform: translateX(30px);
        background: transparent !important;
    }
}

.ngxImageZoomFullContainer.ngxImageZoomLensEnabled{
    border: .55px solid #ececec !important;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 30%);
    height: 175px !important;
    border-radius: 50% !important;
}

/* fonts */
/* 
@font-face{
    font-family: 'Basier Square Medium';
    src: url('assets/fonts/Basier-Square-Medium.otf');
}
@font-face{
    font-family: 'Basier Square Bold';
    src: url('assets/fonts/Basier-Square-Bold.otf');
}
@font-face{
    font-family: 'Basier Square Regular';
    src: url('assets/fonts/Basier-Square-Regular.otf');
}
 */

html, body{
    font-family: 'Kanit', sans-serif;
}