:host{
    .container.align{
        padding-top: 30px;
        padding-bottom: 30px;
        
        .titulo{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 30px;
            color: var(--text-titulo);
        }
        .img-fluid{
            margin-right: 30px;
            margin-bottom: 30px;
            max-width: 40%;
            float: left;        
            @media (max-width: 580px){
                margin: 0 0 15px;
                max-width: 100%;
            }
        }
        p{
            color: var(--text-gray);
            font-size: 20px;
            text-align: justify;
        }
    }
    .section-charts{
        background-image: url("/assets/images/nosotros/bg-contador.png");
        padding: 3% 0;
        background-size: cover;
        @media (max-width: 767px){
            zoom: .6;
        }
        .container {
            @media (min-width: 992px){
                max-width: 760px;
            }
        }
        h3{
            font-size: 68px;
            color: #fff;
        }
        p{
            color: #fff;
            margin-top: 5px;
            font-size: 22px;
            margin-bottom: 0;
        }
    }
    .bg-gray{
        .title-section{
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 32px;
            margin-bottom: 30px;
            color: var(--text-titulo);
            @media (max-width: 992px){
                 font-size: 22px;
            }
        }
        #slider-reconocimientos img{
            max-width: 200px;
            margin: auto;
        }
   
        .custom-slider img{
            height: 90px;
            object-fit: contain;
        }
       
       // .owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
    }
}